In [1]:
import pandas as pd
import numpy as np

In [7]:
'''
Загрузить из файла marks.csv датасет

Вывести на экран полное содержимое датасета.
'''

df = pd.read_csv('marks.csv', sep=';', encoding='windows-1251')
df

          Фамилия      Имя  Математика  Русский язык  Иностранный язык
0    Абапольников    Роман           4             2                 2
1         Абрамов   Кирилл           3             5                 1
2         Авдонин  Николай           3             3                 3
3       Аверьянов   Никита           5             1                 1
4        Аветисян   Даниил           5             1                 4
..            ...      ...         ...           ...               ...
995      Яковенко     Иван           2             1                 1
996       Якунина     Юлия           5             2                 2
997      Янушевич   Леонид           1             5                 5
998    Ярославцев   Сергей           3             3                 3
999          Яшин   Андрей           4             3                 3

[1000 rows x 5 columns]

In [46]:
'''
Вывести на экран фамилии и оценки по математике для первых 50 учеников
'''

df2 = df[:50][['Фамилия', 'Математика']]

df2

         Фамилия  Математика
0   Абапольников           4
1        Абрамов           3
2        Авдонин           3
3      Аверьянов           5
4       Аветисян           5
5      Авраменко           4
6        Авхачев           3
7       Агаркова           1
8      Агаханова           3
9          Агаян           3
10         Агеев           3
11   Адбухакимов           3
12       Азарова           4
13     Азеркович           4
14       Айбатов           3
15     Айрапетян           4
16        Акаева           4
17        Акопян           4
18      Аксаньян           4
19      Аксенова           3
20    Акципетров           2
21   Александров           2
22  Александрова           3
23      Алексеев           1
24     Алескеров           2
25       Алешина           3
26         Алиев           3
27        Алиева           2
28      Алимкина           1
29     Алиуллова           4
30   Аль-Шедиват           3
31        Алюшин           4
32       Аматуни           3
33      Ананичук           5
34       Андреев           4
35      Андреева           3
36     Андросова           1
37     Аникушина           3
38     Анненкова           2
39     Антоненко           2
40       Антонов           5
41      Антонова           3
42       Антонян           2
43     Антропова           1
44     Арзамасов           2
45    Аристархов           3
46    Артамонова           3
47     Артемьева           3
48      Аршинник           3
49    Асадуллаев           2